nav,
.section-1,
.section-3,
footer {
    background-color: #1f2937;
    color: #F9FAF8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    padding: 20px;
    width: 100%;
}

.link-list ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0%;
}

.link-list a {
    text-decoration: none;
}

.link-list li {
    list-style-type: none;
    color: #F9FAF8;

}

/* SECTION 1 */

.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-1 h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.section-1 p {
    font-size: 24px;
    color: #E5E7EB;
}

.hero-img img {
    width: 400px;
    height: auto;
}